:root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
  }

header {
    background-position: 50%;
   }

.hero {
    background-position: bottom;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
  }

  section h2 {
      color: var(--primary-color);
      display: inline-block;
      border-bottom: 4px solid var(--primary-color);
      font-weight: normal;
      font-size: 42px;
      font-style: italic;
      padding: 0 80px 15px 80px;
  }

  .secondary-content {
      width: 80%;
      margin: auto;
  }

  article {
      color: var(--secondary-color);
  }

  article h3 {
      font-size: 25px;
      margin: 20px 0;
  }

  article p {
      font-size: 16px;
      line-height: 1.5;
      margin: 20px 0;
  }

  article ul {
      margin: 15px 20px;
  }

  article li {
      color: #39a6b2;
      margin: 10px 0;
  }
