* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  header {
    padding: 20px 35px;
    background-color: #39a6b2;
  }

  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    display: inline;
    margin: 0;
  }
  
  header a {
    text-decoration: none;
    color: #fce138;
  }

  header nav {
    float: right;
    margin: 7px 0;
  }

  header nav ul li {
    display: inline;
  }

  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }

  footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
  }

  footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
  }

  footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
  }

  footer a {
    color: #024e76;
  }

  section {
    padding: 60px;
  }

  .section-header {
    color: #044d74;
    font-size: 45px;
    text-align: center;
  }

  .hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
  }

  .hero-form {
    color: #024e76;
    background-color: #fce138;
    border: 3px solid;
    float: right;
    font-weight: 500;
    padding: 3%;
  }

  .fill-hero-form {
    margin-bottom: 4%;
  }

  label {
    margin-bottom: 1.5%;
  }

  .form-input {
    margin-bottom: 4%;
  }

  #name, #email, #phone {
    height: 30px;
    width: 90%;
    text-align: center;
  }

  .hero-header {
    font-weight: 900;
    margin-bottom: 4%;
  }

  .get-running-button {
    color: #fce138;
  background-color: #024e76;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  }

  .get-running-button:hover {
    color: black;
    background-color: #ffffff;
  }



  